 .u-section-1 {
  background-image: url("images/velo-electrique-trek.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 410px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 338px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 259px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 194px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 134px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1785px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-family: "ADLaM Display";
  margin: 27px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 27px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 11.3333px));
  min-height: 1443px;
  grid-gap: 17px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  --radius: 25px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  height: 256px;
  --top-left-radius: 20px;
  --top-right-radius: 20px;
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 21px 21px 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 20px 21px 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 21px 0;
}

.u-section-2 .u-text-5 {
  margin: 38px 6px 0 0;
}

.u-section-2 .u-icon-1 {
  font-size: 1.7223em;
}

.u-section-2 .u-text-6 {
  margin: 10px 5px 0;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  text-align: center;
  border-style: solid;
  --radius: 10px;
  background-image: none;
  margin: 20px 160px 0 34px;
}

.u-section-2 .u-btn-2 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  text-align: center;
  border-style: solid;
  --radius: 10px;
  background-image: none;
  margin: -45px auto 0 218px;
  padding: 6px 6px 7px 4px;
}

.u-section-2 .u-icon-2 {
  font-size: 1.2858em;
  vertical-align: -1px;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  --radius: 25px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  height: 256px;
  --top-left-radius: 20px;
  --top-right-radius: 20px;
  margin: 0;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 21px 21px 0;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 20px 21px 0;
}

.u-section-2 .u-text-9 {
  margin: 20px 21px 0;
}

.u-section-2 .u-text-10 {
  margin: 38px 6px 0 0;
}

.u-section-2 .u-text-11 {
  margin: 10px 5px 0;
}

.u-section-2 .u-btn-3 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  text-align: center;
  border-style: solid;
  --radius: 10px;
  background-image: none;
  margin: 20px 160px 0 34px;
}

.u-section-2 .u-btn-4 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  text-align: center;
  border-style: solid;
  --radius: 10px;
  background-image: none;
  margin: -45px auto 0 218px;
  padding: 6px 6px 7px 4px;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
  --radius: 25px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-image-3 {
  height: 256px;
  --top-left-radius: 20px;
  --top-right-radius: 20px;
  margin: 0;
}

.u-section-2 .u-text-12 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 21px 21px 0;
}

.u-section-2 .u-text-13 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 20px 21px 0;
}

.u-section-2 .u-text-14 {
  margin: 20px 21px 0;
}

.u-section-2 .u-text-15 {
  margin: 38px 6px 0 0;
}

.u-section-2 .u-text-16 {
  margin: 10px 5px 0;
}

.u-section-2 .u-btn-5 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  text-align: center;
  border-style: solid;
  --radius: 10px;
  background-image: none;
  margin: 20px 160px 0 34px;
}

.u-section-2 .u-btn-6 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  text-align: center;
  border-style: solid;
  --radius: 10px;
  background-image: none;
  margin: -45px auto 0 218px;
  padding: 6px 6px 7px 4px;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
  --radius: 25px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-image-4 {
  height: 256px;
  --top-left-radius: 20px;
  --top-right-radius: 20px;
  margin: 0;
}

.u-section-2 .u-text-17 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 21px 21px 0;
}

.u-section-2 .u-text-18 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 20px 21px 0;
}

.u-section-2 .u-text-19 {
  margin: 20px 21px 0;
}

.u-section-2 .u-text-20 {
  margin: 38px 6px 0 0;
}

.u-section-2 .u-text-21 {
  margin: 10px 5px 0;
}

.u-section-2 .u-btn-7 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  text-align: center;
  border-style: solid;
  --radius: 10px;
  background-image: none;
  margin: 20px 160px 0 34px;
}

.u-section-2 .u-btn-8 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  text-align: center;
  border-style: solid;
  --radius: 10px;
  background-image: none;
  margin: -45px auto 0 218px;
  padding: 6px 6px 7px 4px;
}

.u-section-2 .u-list-item-5 {
  background-image: none;
  --radius: 25px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-image-5 {
  height: 256px;
  --top-left-radius: 20px;
  --top-right-radius: 20px;
  margin: 0;
}

.u-section-2 .u-text-22 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 21px 21px 0;
}

.u-section-2 .u-text-23 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 20px 21px 0;
}

.u-section-2 .u-text-24 {
  margin: 20px 21px 0;
}

.u-section-2 .u-text-25 {
  margin: 38px 6px 0 0;
}

.u-section-2 .u-text-26 {
  margin: 10px 5px 0;
}

.u-section-2 .u-btn-9 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  text-align: center;
  border-style: solid;
  --radius: 10px;
  background-image: none;
  margin: 20px 160px 0 34px;
}

.u-section-2 .u-btn-10 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  text-align: center;
  border-style: solid;
  --radius: 10px;
  background-image: none;
  margin: -45px auto 0 218px;
  padding: 6px 6px 7px 4px;
}

.u-section-2 .u-list-item-6 {
  background-image: none;
  --radius: 25px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-image-6 {
  height: 256px;
  --top-left-radius: 20px;
  --top-right-radius: 20px;
  margin: 0;
}

.u-section-2 .u-text-27 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 21px 21px 0;
}

.u-section-2 .u-text-28 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 20px 21px 0;
}

.u-section-2 .u-text-29 {
  margin: 20px 21px 0;
}

.u-section-2 .u-text-30 {
  margin: 38px 6px 0 0;
}

.u-section-2 .u-text-31 {
  margin: 10px 5px 0;
}

.u-section-2 .u-btn-11 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  text-align: center;
  border-style: solid;
  --radius: 10px;
  background-image: none;
  margin: 20px 160px 0 34px;
}

.u-section-2 .u-btn-12 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  text-align: center;
  border-style: solid;
  --radius: 10px;
  background-image: none;
  margin: -45px auto 0 218px;
  padding: 6px 6px 7px 4px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 11.3333px));
    min-height: 1185px;
  }

  .u-section-2 .u-image-1 {
    height: 211px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: 134px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 18px;
  }

  .u-section-2 .u-image-2 {
    height: 211px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 18px;
  }

  .u-section-2 .u-image-3 {
    height: 211px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-text-13 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-15 {
    margin-right: 0;
  }

  .u-section-2 .u-text-16 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-btn-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-6 {
    margin-left: 18px;
  }

  .u-section-2 .u-image-4 {
    height: 211px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-17 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-text-18 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-text-19 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-20 {
    margin-right: 0;
  }

  .u-section-2 .u-text-21 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-btn-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-8 {
    margin-left: 18px;
  }

  .u-section-2 .u-image-5 {
    height: 211px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-22 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-text-23 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-text-24 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-25 {
    margin-right: 0;
  }

  .u-section-2 .u-text-26 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-btn-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-10 {
    margin-left: 18px;
  }

  .u-section-2 .u-image-6 {
    height: 211px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-27 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-text-28 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-text-29 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-30 {
    margin-right: 0;
  }

  .u-section-2 .u-text-31 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-btn-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-12 {
    margin-left: 18px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 8.499975px));
    min-height: 2073px;
  }

  .u-section-2 .u-image-1 {
    height: 242px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-4 {
    margin-top: 21px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    height: 242px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-11 {
    margin-top: 21px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    height: 242px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-16 {
    margin-top: 21px;
  }

  .u-section-2 .u-btn-6 {
    margin-left: 0;
  }

  .u-section-2 .u-image-4 {
    height: 242px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-21 {
    margin-top: 21px;
  }

  .u-section-2 .u-btn-8 {
    margin-left: 0;
  }

  .u-section-2 .u-image-5 {
    height: 242px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-26 {
    margin-top: 21px;
  }

  .u-section-2 .u-btn-10 {
    margin-left: 0;
  }

  .u-section-2 .u-image-6 {
    height: 242px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-31 {
    margin-top: 21px;
  }

  .u-section-2 .u-btn-12 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-image-1 {
    height: 363px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-2 .u-image-2 {
    height: 363px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-7 {
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-2 .u-image-3 {
    height: 363px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-12 {
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-2 .u-text-16 {
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-2 .u-image-4 {
    height: 363px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-17 {
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-2 .u-text-18 {
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-2 .u-text-21 {
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-2 .u-image-5 {
    height: 363px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-22 {
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-2 .u-text-23 {
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-2 .u-text-26 {
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-2 .u-image-6 {
    height: 363px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-27 {
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-2 .u-text-28 {
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-2 .u-text-31 {
    margin-left: 29px;
    margin-right: 29px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    height: 229px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-2 .u-image-2 {
    height: 229px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-7 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-2 .u-image-3 {
    height: 229px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-12 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-2 .u-text-16 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-2 .u-image-4 {
    height: 229px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-17 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-2 .u-text-18 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-2 .u-text-21 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-2 .u-image-5 {
    height: 229px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-22 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-2 .u-text-23 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-2 .u-text-26 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-2 .u-image-6 {
    height: 229px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-27 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-2 .u-text-28 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-2 .u-text-31 {
    margin-left: 21px;
    margin-right: 21px;
  }
}